<div class="page-wrapper">
    <div class="page-content">
      <div class="content-section">
        <div class="header-bar">
          <div class="layout-layer3-element0">
            <div class="layout-layer4-element0">
              <div class="layout-layer5-element0">
                <img class="vector-0" src="vector-00.svg" />
                <div class="layout-layer6-element0"></div>
              </div>
            </div>
            <div class="layout-layer4-element1">
              <div class="pet-pal">PetPal</div>
            </div>
          </div>
          <div class="layout-layer3-element1">
            <div class="layout-layer4-element02">
              <div class="layout-layer5-element02">
                <div class="layout-layer6-element02">
                  <div class="layout-layer7-element0">
                    <img class="vector-02" src="vector-01.svg" />
                    <div class="layout-layer8-element0"></div>
                  </div>
                </div>
                <div class="layout-layer6-element1">
                  <div class="search">Search</div>
                </div>
              </div>
            </div>
            <div class="layout-layer4-element12">
              <div class="layout-layer5-element03">
                <div class="layout-layer6-element03">
                  <img class="vector-03" src="vector-02.svg" />
                  <div class="layout-layer7-element02"></div>
                </div>
              </div>
            </div>
            <img class="layout-layer4-element2" src="layout-layer4-element20.png" />
          </div>
        </div>
        <div class="layout-layer2-element1">
          <div class="layout-layer3-element02">
            <div class="layout-layer4-element03">
              <div class="layout-layer5-element04">
                <div class="owners">Owners</div>
              </div>
              <div class="layout-layer5-element1">
                <div class="layout-layer6-element04">
                  <div class="new-owner">+ New Owner</div>
                </div>
              </div>
            </div>
            <div class="layout-layer4-element13">
              <div class="layout-layer5-element05">
                <div class="layout-layer6-element05">
                  <div class="layout-layer7-element03">
                    <div class="layout-layer8-element02">
                      <img class="vector-04" src="vector-03.svg" />
                      <div class="layout-layer9-element0"></div>
                    </div>
                  </div>
                  <div class="layout-layer7-element1">
                    <div class="search-by-name-or-phone">
                      Search by name or phone
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="layout-layer4-element22">
              <div class="layout-layer5-element06">
                <div class="layout-layer6-element06">
                  <div class="layout-layer7-element04">
                    <div class="layout-layer8-element03">
                      <div class="layout-layer9-element02">
                        <div class="owner-name">Owner Name</div>
                      </div>
                      <div class="layout-layer9-element1">
                        <div class="phone">Phone</div>
                      </div>
                      <div class="layout-layer9-element2">
                        <div class="email">Email</div>
                      </div>
                      <div class="layout-layer9-element3">
                        <div class="number-of-animals">Number of Animals</div>
                      </div>
                    </div>
                  </div>
                  <div class="layout-layer7-element12">
                    <div class="layout-layer8-element04">
                      <div class="layout-layer9-element03">
                        <div class="sophia-carter">Sophia Carter</div>
                      </div>
                      <div class="layout-layer9-element12">
                        <div class="_555-123-4567">(555) 123-4567</div>
                      </div>
                      <div class="layout-layer9-element22">
                        <div class="sophia-carter-email-com">
                          sophia.carter-email.com
                        </div>
                      </div>
                      <div class="layout-layer9-element32">
                        <div class="_2">2</div>
                      </div>
                    </div>
                    <div class="layout-layer8-element1">
                      <div class="layout-layer9-element03">
                        <div class="ethan-bennett">Ethan Bennett</div>
                      </div>
                      <div class="layout-layer9-element12">
                        <div class="_555-987-6543">(555) 987-6543</div>
                      </div>
                      <div class="layout-layer9-element22">
                        <div class="ethan-bennett-email-com">
                          ethan.bennett-email.com
                        </div>
                      </div>
                      <div class="layout-layer9-element32">
                        <div class="_1">1</div>
                      </div>
                    </div>
                    <div class="layout-layer8-element2">
                      <div class="layout-layer9-element03">
                        <div class="olivia-hayes">Olivia Hayes</div>
                      </div>
                      <div class="layout-layer9-element12">
                        <div class="_555-246-8013">(555) 246-8013</div>
                      </div>
                      <div class="layout-layer9-element22">
                        <div class="olivia-hayes-email-com">
                          olivia.hayes-email.com
                        </div>
                      </div>
                      <div class="layout-layer9-element32">
                        <div class="_3">3</div>
                      </div>
                    </div>
                    <div class="layout-layer8-element3">
                      <div class="layout-layer9-element03">
                        <div class="liam-foster">Liam Foster</div>
                      </div>
                      <div class="layout-layer9-element12">
                        <div class="_555-369-1470">(555) 369-1470</div>
                      </div>
                      <div class="layout-layer9-element22">
                        <div class="liam-foster-email-com">
                          liam.foster-email.com
                        </div>
                      </div>
                      <div class="layout-layer9-element32">
                        <div class="_1">1</div>
                      </div>
                    </div>
                    <div class="layout-layer8-element4">
                      <div class="layout-layer9-element03">
                        <div class="ava-morgan">Ava Morgan</div>
                      </div>
                      <div class="layout-layer9-element12">
                        <div class="_555-789-0123">(555) 789-0123</div>
                      </div>
                      <div class="layout-layer9-element22">
                        <div class="ava-morgan-email-com">
                          ava.morgan-email.com
                        </div>
                      </div>
                      <div class="layout-layer9-element32">
                        <div class="_2">2</div>
                      </div>
                    </div>
                    <div class="layout-layer8-element5">
                      <div class="layout-layer9-element03">
                        <div class="noah-parker">Noah Parker</div>
                      </div>
                      <div class="layout-layer9-element12">
                        <div class="_555-456-7890">(555) 456-7890</div>
                      </div>
                      <div class="layout-layer9-element22">
                        <div class="noah-parker-email-com">
                          noah.parker-email.com
                        </div>
                      </div>
                      <div class="layout-layer9-element32">
                        <div class="_1">1</div>
                      </div>
                    </div>
                    <div class="layout-layer8-element6">
                      <div class="layout-layer9-element03">
                        <div class="isabella-reed">Isabella Reed</div>
                      </div>
                      <div class="layout-layer9-element12">
                        <div class="_555-654-3210">(555) 654-3210</div>
                      </div>
                      <div class="layout-layer9-element22">
                        <div class="isabella-reed-email-com">
                          isabella.reed-email.com
                        </div>
                      </div>
                      <div class="layout-layer9-element32">
                        <div class="_2">2</div>
                      </div>
                    </div>
                    <div class="layout-layer8-element7">
                      <div class="layout-layer9-element03">
                        <div class="jackson-cole">Jackson Cole</div>
                      </div>
                      <div class="layout-layer9-element12">
                        <div class="_555-111-2222">(555) 111-2222</div>
                      </div>
                      <div class="layout-layer9-element22">
                        <div class="jackson-cole-email-com">
                          jackson.cole-email.com
                        </div>
                      </div>
                      <div class="layout-layer9-element32">
                        <div class="_1">1</div>
                      </div>
                    </div>
                    <div class="layout-layer8-element8">
                      <div class="layout-layer9-element03">
                        <div class="mia-brooks">Mia Brooks</div>
                      </div>
                      <div class="layout-layer9-element12">
                        <div class="_555-333-4444">(555) 333-4444</div>
                      </div>
                      <div class="layout-layer9-element22">
                        <div class="mia-brooks-email-com">
                          mia.brooks-email.com
                        </div>
                      </div>
                      <div class="layout-layer9-element32">
                        <div class="_3">3</div>
                      </div>
                    </div>
                    <div class="layout-layer8-element9">
                      <div class="layout-layer9-element03">
                        <div class="aiden-gray">Aiden Gray</div>
                      </div>
                      <div class="layout-layer9-element12">
                        <div class="_555-555-6666">(555) 555-6666</div>
                      </div>
                      <div class="layout-layer9-element22">
                        <div class="aiden-gray-email-com">
                          aiden.gray-email.com
                        </div>
                      </div>
                      <div class="layout-layer9-element32">
                        <div class="_1">1</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  