.stitch-design,
.stitch-design * {
  box-sizing: border-box;
}
.stitch-design {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.depth-0-frame-0 {
  background: #f7fafc;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  min-height: 800px;
  position: relative;
  overflow: hidden;
}
.depth-1-frame-0 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.depth-2-frame-0 {
  padding: 20px 24px 20px 24px;
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.depth-3-frame-0 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 320px;
  position: relative;
  overflow: hidden;
}
.depth-4-frame-0 {
  background: #f7fafc;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  align-self: stretch;
  flex: 1;
  min-height: 700px;
  position: relative;
}
.depth-5-frame-0 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.depth-6-frame-0 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.depth-7-frame-0 {
  border-radius: 20px;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: relative;
  overflow: hidden;
  object-fit: cover;
}
.depth-7-frame-1 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 40px;
  position: relative;
}
.pet-pal-clinic {
  color: #0d0f1c;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
}
.depth-6-frame-1 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.depth-7-frame-02 {
  padding: 8px 12px 8px 12px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.depth-8-frame-0 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.depth-9-frame-0 {
  flex: 1;
  width: 24px;
  position: relative;
  overflow: hidden;
}
.vector-0 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.depth-10-frame-0 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 18px;
  height: 19px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.depth-8-frame-1 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.dashboard {
  color: #0d0f1c;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
}
.depth-7-frame-12 {
  padding: 8px 12px 8px 12px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.vector-02 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.depth-10-frame-02 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 18px;
  height: 20px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.appointments {
  color: #0d0f1c;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
}
.depth-7-frame-2 {
  padding: 8px 12px 8px 12px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.vector-03 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.depth-10-frame-03 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 21px;
  height: 18px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.patients {
  color: #0d0f1c;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
}
.depth-7-frame-3 {
  background: #e5e8f5;
  border-radius: 8px;
  padding: 8px 12px 8px 12px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.vector-04 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.depth-10-frame-04 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 24px;
  height: 15px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.users {
  color: #0d0f1c;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
}
.depth-7-frame-4 {
  padding: 8px 12px 8px 12px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.vector-05 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.depth-10-frame-05 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.settings {
  color: #0d0f1c;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
}
.depth-3-frame-1 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  height: 760px;
  max-width: 960px;
  position: relative;
  overflow: hidden;
}
.depth-4-frame-02 {
  padding: 16px;
  display: flex;
  flex-direction: row;
  row-gap: 12px;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.depth-5-frame-02 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 288px;
  min-width: 288px;
  position: relative;
}
.users2 {
  color: #0d0f1c;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.depth-5-frame-1 {
  background: #e5e8f5;
  border-radius: 8px;
  padding: 0px 16px 0px 16px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 84px;
  height: 32px;
  min-width: 84px;
  max-width: 480px;
  position: relative;
  overflow: hidden;
}
.depth-6-frame-02 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.create {
  color: #0d0f1c;
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.depth-4-frame-1 {
  padding: 12px 16px 12px 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.depth-5-frame-03 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 48px;
  min-width: 160px;
  position: relative;
}
.depth-6-frame-03 {
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.depth-7-frame-03 {
  background: #e5e8f5;
  border-radius: 8px 0px 0px 8px;
  padding: 0px 0px 0px 16px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.depth-8-frame-02 {
  flex: 1;
  height: 24px;
  position: relative;
  overflow: hidden;
}
.vector-06 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.depth-9-frame-02 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.depth-7-frame-13 {
  background: #e5e8f5;
  border-radius: 0px 8px 8px 0px;
  padding: 8px 16px 8px 8px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.search-users {
  color: #47579e;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
}
.depth-4-frame-2 {
  padding: 12px 16px 12px 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.depth-5-frame-04 {
  background: #f7fafc;
  border-radius: 8px;
  border-style: solid;
  border-color: #cfd1e8;
  border-width: 1px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.depth-6-frame-04 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.depth-7-frame-04 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.depth-8-frame-03 {
  background: #f7fafc;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.depth-9-frame-03 {
  padding: 12px 16px 12px 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 120px;
  position: relative;
}
.name {
  color: #0d0f1c;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
}
.depth-9-frame-1 {
  padding: 12px 16px 12px 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 151px;
  position: relative;
}
.username {
  color: #0d0f1c;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
}
.depth-9-frame-2 {
  padding: 12px 16px 12px 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 234px;
  position: relative;
}
.email {
  color: #0d0f1c;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
}
.depth-9-frame-3 {
  padding: 12px 16px 12px 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 153px;
  position: relative;
}
.role {
  color: #0d0f1c;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
}
.depth-9-frame-4 {
  padding: 12px 16px 12px 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 124px;
  position: relative;
}
.status {
  color: #0d0f1c;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
}
.depth-9-frame-5 {
  padding: 12px 16px 12px 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 92px;
  position: relative;
}
.actions {
  color: #47579e;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
}
.depth-7-frame-14 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.depth-8-frame-04 {
  border-style: solid;
  border-color: #e5e8eb;
  border-width: 1px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 72px;
  position: relative;
}
.depth-9-frame-04 {
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 120px;
  height: 72px;
  position: relative;
}
.dr-emily-carter {
  color: #0d0f1c;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.depth-9-frame-12 {
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 151px;
  height: 72px;
  position: relative;
}
.emily-carter {
  color: #47579e;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.depth-9-frame-22 {
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 234px;
  height: 72px;
  position: relative;
}
.emily-carter-petpal-com {
  color: #47579e;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.depth-9-frame-32 {
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 153px;
  height: 72px;
  position: relative;
}
.depth-10-frame-06 {
  background: #e5e8f5;
  border-radius: 8px;
  padding: 0px 16px 0px 16px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-shrink: 0;
  height: 32px;
  min-width: 84px;
  max-width: 480px;
  position: relative;
  overflow: hidden;
}
.depth-11-frame-0 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.admin {
  color: #0d0f1c;
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.depth-9-frame-42 {
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 124px;
  height: 72px;
  position: relative;
}
.active {
  color: #0d0f1c;
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.depth-9-frame-52 {
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 92px;
  height: 72px;
  position: relative;
}
.edit-delete {
  color: #47579e;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.depth-8-frame-12 {
  border-style: solid;
  border-color: #e5e8eb;
  border-width: 1px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 72px;
  position: relative;
}
.dr-david-lee {
  color: #0d0f1c;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.david-lee {
  color: #47579e;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.david-lee-petpal-com {
  color: #47579e;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.veterinarian {
  color: #0d0f1c;
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.depth-8-frame-2 {
  border-style: solid;
  border-color: #e5e8eb;
  border-width: 1px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 72px;
  position: relative;
}
.sarah-johnson {
  color: #0d0f1c;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.sarah-johnson2 {
  color: #47579e;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.sarah-johnson-petpal-com {
  color: #47579e;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.receptionist {
  color: #0d0f1c;
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.depth-8-frame-3 {
  border-style: solid;
  border-color: #e5e8eb;
  border-width: 1px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 72px;
  position: relative;
}
.mark-thompson {
  color: #0d0f1c;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.mark-thompson2 {
  color: #47579e;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.mark-thompson-petpal-com {
  color: #47579e;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.technician {
  color: #0d0f1c;
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.inactive {
  color: #0d0f1c;
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.depth-8-frame-4 {
  border-style: solid;
  border-color: #e5e8eb;
  border-width: 1px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 72px;
  position: relative;
}
.dr-olivia-brown {
  color: #0d0f1c;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.olivia-brown {
  color: #47579e;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.olivia-brown-petpal-com {
  color: #47579e;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
