<div class="depth-2-frame-0">
    <div class="depth-3-frame-1">
        <div class="depth-4-frame-02">
            <div class="depth-5-frame-02">
                <div class="users2">Users</div>
            </div>
            <div class="depth-5-frame-1">
                <div class="depth-6-frame-02">
                    <div class="create">Create</div>
                </div>
            </div>
        </div>
        <div class="depth-4-frame-1">
            <div class="depth-5-frame-03">
                <div class="depth-6-frame-03">
                    <div class="depth-7-frame-03">
                        <div class="depth-8-frame-02">
                            <img class="vector-06" src="vector-05.svg" />
                            <div class="depth-9-frame-02"></div>
                        </div>
                    </div>
                    <div class="depth-7-frame-13">
                        <div class="search-users">Search users</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="depth-4-frame-2">
            <div class="depth-5-frame-04">
                <div class="depth-6-frame-04">
                    <div class="depth-7-frame-04">
                        <div class="depth-8-frame-03">
                            <div class="depth-9-frame-03">
                                <div class="name">Name</div>
                            </div>
                            <div class="depth-9-frame-1">
                                <div class="username">Username</div>
                            </div>
                            <div class="depth-9-frame-2">
                                <div class="email">Email</div>
                            </div>
                            <div class="depth-9-frame-3">
                                <div class="role">Role</div>
                            </div>
                            <div class="depth-9-frame-4">
                                <div class="status">Status</div>
                            </div>
                            <div class="depth-9-frame-5">
                                <div class="actions">Actions</div>
                            </div>
                        </div>
                    </div>
                    <div class="depth-7-frame-14">
                        <div class="depth-8-frame-04">
                            <div class="depth-9-frame-04">
                                <div class="dr-emily-carter">Dr. Emily Carter</div>
                            </div>
                            <div class="depth-9-frame-12">
                                <div class="emily-carter">emily.carter</div>
                            </div>
                            <div class="depth-9-frame-22">
                                <div class="emily-carter-petpal-com">
                                    emily.carter-pawpals.com
                                </div>
                            </div>
                            <div class="depth-9-frame-32">
                                <div class="depth-10-frame-06">
                                    <div class="depth-11-frame-0">
                                        <div class="admin">Admin</div>
                                    </div>
                                </div>
                            </div>
                            <div class="depth-9-frame-42">
                                <div class="depth-10-frame-06">
                                    <div class="depth-11-frame-0">
                                        <div class="active">Active</div>
                                    </div>
                                </div>
                            </div>
                            <div class="depth-9-frame-52">
                                <div class="edit-delete">Edit | Delete</div>
                            </div>
                        </div>
                        <div class="depth-8-frame-12">
                            <div class="depth-9-frame-04">
                                <div class="dr-david-lee">Dr. David Lee</div>
                            </div>
                            <div class="depth-9-frame-12">
                                <div class="david-lee">david.lee</div>
                            </div>
                            <div class="depth-9-frame-22">
                                <div class="david-lee-petpal-com">
                                    david.lee-pawpals.com
                                </div>
                            </div>
                            <div class="depth-9-frame-32">
                                <div class="depth-10-frame-06">
                                    <div class="depth-11-frame-0">
                                        <div class="veterinarian">Veterinarian</div>
                                    </div>
                                </div>
                            </div>
                            <div class="depth-9-frame-42">
                                <div class="depth-10-frame-06">
                                    <div class="depth-11-frame-0">
                                        <div class="active">Active</div>
                                    </div>
                                </div>
                            </div>
                            <div class="depth-9-frame-52">
                                <div class="edit-delete">Edit | Delete</div>
                            </div>
                        </div>
                        <div class="depth-8-frame-2">
                            <div class="depth-9-frame-04">
                                <div class="sarah-johnson">Sarah Johnson</div>
                            </div>
                            <div class="depth-9-frame-12">
                                <div class="sarah-johnson2">sarah.johnson</div>
                            </div>
                            <div class="depth-9-frame-22">
                                <div class="sarah-johnson-petpal-com">
                                    sarah.johnson-pawpals.com
                                </div>
                            </div>
                            <div class="depth-9-frame-32">
                                <div class="depth-10-frame-06">
                                    <div class="depth-11-frame-0">
                                        <div class="receptionist">Receptionist</div>
                                    </div>
                                </div>
                            </div>
                            <div class="depth-9-frame-42">
                                <div class="depth-10-frame-06">
                                    <div class="depth-11-frame-0">
                                        <div class="active">Active</div>
                                    </div>
                                </div>
                            </div>
                            <div class="depth-9-frame-52">
                                <div class="edit-delete">Edit | Delete</div>
                            </div>
                        </div>
                        <div class="depth-8-frame-3">
                            <div class="depth-9-frame-04">
                                <div class="mark-thompson">Mark Thompson</div>
                            </div>
                            <div class="depth-9-frame-12">
                                <div class="mark-thompson2">mark.thompson</div>
                            </div>
                            <div class="depth-9-frame-22">
                                <div class="mark-thompson-petpal-com">
                                    mark.thompson-pawpals.com
                                </div>
                            </div>
                            <div class="depth-9-frame-32">
                                <div class="depth-10-frame-06">
                                    <div class="depth-11-frame-0">
                                        <div class="technician">Technician</div>
                                    </div>
                                </div>
                            </div>
                            <div class="depth-9-frame-42">
                                <div class="depth-10-frame-06">
                                    <div class="depth-11-frame-0">
                                        <div class="inactive">Inactive</div>
                                    </div>
                                </div>
                            </div>
                            <div class="depth-9-frame-52">
                                <div class="edit-delete">Edit | Delete</div>
                            </div>
                        </div>
                        <div class="depth-8-frame-4">
                            <div class="depth-9-frame-04">
                                <div class="dr-olivia-brown">Dr. Olivia Brown</div>
                            </div>
                            <div class="depth-9-frame-12">
                                <div class="olivia-brown">olivia.brown</div>
                            </div>
                            <div class="depth-9-frame-22">
                                <div class="olivia-brown-petpal-com">
                                    olivia.brown-pawpals.com
                                </div>
                            </div>
                            <div class="depth-9-frame-32">
                                <div class="depth-10-frame-06">
                                    <div class="depth-11-frame-0">
                                        <div class="veterinarian">Veterinarian</div>
                                    </div>
                                </div>
                            </div>
                            <div class="depth-9-frame-42">
                                <div class="depth-10-frame-06">
                                    <div class="depth-11-frame-0">
                                        <div class="active">Active</div>
                                    </div>
                                </div>
                            </div>
                            <div class="depth-9-frame-52">
                                <div class="edit-delete">Edit | Delete</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>