<div class="stitch-design">
    <div class="depth-0-frame-0">
      <div class="depth-1-frame-0">
        <div class="depth-2-frame-0">
          <div class="depth-3-frame-0">
            <div class="depth-4-frame-0">
              <div class="depth-5-frame-0">
                <img class="vector-0" src="vector-00.svg" />
                <div class="depth-6-frame-0"></div>
              </div>
            </div>
            <div class="depth-4-frame-1">
              <div class="pet-pal">PetPal</div>
            </div>
          </div>
          <div class="depth-3-frame-1">
            <div class="depth-4-frame-02">
              <div class="depth-5-frame-02">
                <div class="dashboard">Dashboard</div>
              </div>
              <div class="depth-5-frame-1">
                <div class="appointments">Appointments</div>
              </div>
              <div class="depth-5-frame-2">
                <div class="clients">Clients</div>
              </div>
              <div class="depth-5-frame-3">
                <div class="patients">Patients</div>
              </div>
              <div class="depth-5-frame-4">
                <div class="staff">Staff</div>
              </div>
              <div class="depth-5-frame-5">
                <div class="settings">Settings</div>
              </div>
            </div>
            <img class="depth-4-frame-12" src="depth-4-frame-11.png" />
          </div>
        </div>
        <div class="depth-2-frame-1">
          <div class="depth-3-frame-02">
            <div class="depth-4-frame-03">
              <div class="depth-5-frame-03">
                <div class="depth-6-frame-02">
                  <div class="user-details">User Details</div>
                </div>
                <div class="depth-6-frame-1">
                  <div class="manage-user-information-and-access-settings">
                    Manage user information and access settings.
                  </div>
                </div>
              </div>
            </div>
            <div class="depth-4-frame-13">
              <div class="depth-5-frame-04">
                <div class="depth-6-frame-03">
                  <div class="name">Name</div>
                </div>
                <div class="depth-6-frame-12"></div>
              </div>
            </div>
            <div class="depth-4-frame-2">
              <div class="depth-5-frame-04">
                <div class="depth-6-frame-03">
                  <div class="username">Username</div>
                </div>
                <div class="depth-6-frame-12"></div>
              </div>
            </div>
            <div class="depth-4-frame-3">
              <div class="depth-5-frame-04">
                <div class="depth-6-frame-03">
                  <div class="email">Email</div>
                </div>
                <div class="depth-6-frame-12"></div>
              </div>
            </div>
            <div class="depth-4-frame-4">
              <div class="depth-5-frame-04">
                <div class="depth-6-frame-03">
                  <div class="roles">Roles</div>
                </div>
                <img class="depth-6-frame-13" src="depth-6-frame-14.svg" />
              </div>
            </div>
            <div class="depth-4-frame-5">
              <div class="depth-5-frame-05">
                <div class="status">Status</div>
              </div>
              <div class="depth-5-frame-1">
                <div class="depth-6-frame-04">
                  <div class="depth-7-frame-0"></div>
                </div>
              </div>
            </div>
            <div class="depth-4-frame-6">
              <div class="depth-5-frame-06">
                <div class="depth-6-frame-05">
                  <div class="reset-password">Reset Password</div>
                </div>
              </div>
            </div>
            <div class="depth-4-frame-7">
              <div class="depth-5-frame-07">
                <div class="depth-6-frame-06">
                  <div class="depth-7-frame-02">
                    <div class="cancel">Cancel</div>
                  </div>
                </div>
                <div class="depth-6-frame-14">
                  <div class="depth-7-frame-02">
                    <div class="save">Save</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  