.page-wrapper,
.page-wrapper * {
  box-sizing: border-box;
}
.page-wrapper {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.page-content {
  background: #f7fafc;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  min-height: 800px;
  position: relative;
  overflow: hidden;
}
.content-section {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.header-bar {
  border-style: solid;
  border-color: #e5e8eb;
  border-width: 0px 0px 1px 0px;
  padding: 12px 40px 12px 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.layout-layer3-element0 {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.layout-layer4-element0 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.layout-layer5-element0 {
  flex: 1;
  width: 16px;
  position: relative;
  overflow: hidden;
}
.vector-0 {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.layout-layer6-element0 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 13px;
  height: 13px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.layout-layer4-element1 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.pet-care-clinic {
  color: #0d0f1c;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 18px;
  line-height: 23px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.layout-layer3-element1 {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-end;
  flex: 1;
  position: relative;
}
.layout-layer4-element02 {
  display: flex;
  flex-direction: row;
  gap: 36px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 40px;
  position: relative;
}
.layout-layer5-element02 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.dashboard {
  color: #0d0f1c;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
}
.layout-layer5-element1 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.appointments {
  color: #0d0f1c;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
}
.layout-layer5-element2 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.clients {
  color: #0d0f1c;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
}
.layout-layer5-element3 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.patients {
  color: #0d0f1c;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
}
.layout-layer5-element4 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.staff {
  color: #0d0f1c;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
}
.layout-layer5-element5 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.reports {
  color: #0d0f1c;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
}
.layout-layer4-element12 {
  border-radius: 20px;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: relative;
  overflow: hidden;
  object-fit: cover;
}
.layout-layer2-element1 {
  padding: 20px 160px 20px 160px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.layout-layer3-element02 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  height: 695px;
  max-width: 960px;
  position: relative;
  overflow: hidden;
}
.layout-layer4-element03 {
  padding: 16px;
  display: flex;
  flex-direction: row;
  row-gap: 12px;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.layout-layer5-element03 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  min-width: 288px;
  position: relative;
}
.layout-layer6-element02 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 288px;
  position: relative;
}
.owner-details {
  color: #0d0f1c;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.layout-layer6-element1 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 288px;
  position: relative;
}
.view-and-manage-owner-information {
  color: #47579e;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.layout-layer4-element13 {
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.layout-layer5-element04 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  position: relative;
}
.layout-layer6-element03 {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.layout-layer7-element0 {
  border-radius: 64px;
  flex-shrink: 0;
  width: 128px;
  height: 128px;
  min-height: 128px;
  position: relative;
  overflow: hidden;
  object-fit: cover;
}
.layout-layer7-element1 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  height: 128px;
  position: relative;
}
.layout-layer8-element0 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 430px;
  position: relative;
}
.sarah-miller {
  color: #0d0f1c;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 22px;
  line-height: 28px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.layout-layer8-element1 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 430px;
  position: relative;
}
.owner-id-12345 {
  color: #47579e;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.layout-layer8-element2 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.contact-555-123-4567-email-sarah-miller-email-com {
  color: #47579e;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.layout-layer4-element2 {
  padding: 20px 16px 12px 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.animal-list {
  color: #0d0f1c;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 22px;
  line-height: 28px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.layout-layer4-element3 {
  padding: 12px 16px 12px 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.layout-layer5-element05 {
  background: #f7fafc;
  border-radius: 8px;
  border-style: solid;
  border-color: #cfd1e8;
  border-width: 1px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.layout-layer6-element04 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.layout-layer7-element02 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.layout-layer8-element02 {
  background: #f7fafc;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.layout-layer9-element0 {
  padding: 12px 16px 12px 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 72px;
  position: relative;
}
.photo {
  color: #0d0f1c;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
}
.layout-layer9-element1 {
  padding: 12px 16px 12px 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 189px;
  position: relative;
}
.name {
  color: #0d0f1c;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
}
.layout-layer9-element2 {
  padding: 12px 16px 12px 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 184px;
  position: relative;
}
.species {
  color: #0d0f1c;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
}
.layout-layer9-element3 {
  padding: 12px 16px 12px 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 173px;
  position: relative;
}
.age {
  color: #0d0f1c;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
}
.layout-layer9-element4 {
  padding: 12px 16px 12px 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 176px;
  position: relative;
}
.last-visit-date {
  color: #0d0f1c;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
}
.layout-layer9-element5 {
  padding: 12px 16px 12px 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 132px;
  position: relative;
}
.actions {
  color: #47579e;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
}
.layout-layer7-element12 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.layout-layer8-element03 {
  border-style: solid;
  border-color: #e5e8eb;
  border-width: 1px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 72px;
  position: relative;
}
.layout-layer9-element02 {
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 72px;
  height: 72px;
  position: relative;
}
.layout-layer10-element0 {
  border-radius: 20px;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: relative;
  overflow: hidden;
  object-fit: cover;
}
.layout-layer9-element12 {
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 189px;
  height: 72px;
  position: relative;
}
.buddy {
  color: #0d0f1c;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.layout-layer9-element22 {
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 184px;
  height: 72px;
  position: relative;
}
.dog {
  color: #47579e;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.layout-layer9-element32 {
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 173px;
  height: 72px;
  position: relative;
}
._5-years {
  color: #47579e;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.layout-layer9-element42 {
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 176px;
  height: 72px;
  position: relative;
}
._2023-08-15 {
  color: #47579e;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.layout-layer9-element52 {
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 132px;
  height: 72px;
  position: relative;
}
.edit-delete {
  color: #47579e;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.layout-layer8-element12 {
  border-style: solid;
  border-color: #e5e8eb;
  border-width: 1px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 72px;
  position: relative;
}
.whiskers {
  color: #0d0f1c;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.cat {
  color: #47579e;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
._3-years {
  color: #47579e;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
._2023-09-01 {
  color: #47579e;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.layout-layer8-element22 {
  border-style: solid;
  border-color: #e5e8eb;
  border-width: 1px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 72px;
  position: relative;
}
.chirpy {
  color: #0d0f1c;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.bird {
  color: #47579e;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
._2-years {
  color: #47579e;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
._2023-07-20 {
  color: #47579e;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.layout-layer4-element4 {
  padding: 12px 16px 12px 16px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.layout-layer5-element06 {
  background: #617afa;
  border-radius: 8px;
  padding: 0px 16px 0px 16px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 40px;
  min-width: 84px;
  max-width: 480px;
  position: relative;
  overflow: hidden;
}
.layout-layer6-element05 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.add-animal {
  color: #f7fafc;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
