<div class="stitch-design">
    <div class="depth-0-frame-0">
      <div class="depth-1-frame-0">
        <div class="depth-2-frame-0">
          <div class="depth-3-frame-0">
            <div class="depth-4-frame-0">
              <div class="depth-5-frame-0">
                <img class="vector-0" src="vector-00.svg" />
                <div class="depth-6-frame-0"></div>
              </div>
            </div>
            <div class="depth-4-frame-1">
              <div class="pet-care-clinic">PetCare Clinic</div>
            </div>
          </div>
          <div class="depth-3-frame-1">
            <div class="depth-4-frame-02">
              <div class="depth-5-frame-02">
                <div class="dashboard">Dashboard</div>
              </div>
              <div class="depth-5-frame-1">
                <div class="appointments">Appointments</div>
              </div>
              <div class="depth-5-frame-2">
                <div class="clients">Clients</div>
              </div>
              <div class="depth-5-frame-3">
                <div class="patients">Patients</div>
              </div>
              <div class="depth-5-frame-4">
                <div class="staff">Staff</div>
              </div>
              <div class="depth-5-frame-5">
                <div class="reports">Reports</div>
              </div>
            </div>
            <img class="depth-4-frame-12" src="depth-4-frame-11.png" />
          </div>
        </div>
        <div class="depth-2-frame-1">
          <div class="depth-3-frame-02">
            <div class="depth-4-frame-03">
              <div class="depth-5-frame-03">
                <div class="depth-6-frame-02">
                  <div class="owner-details">Owner Details</div>
                </div>
                <div class="depth-6-frame-1">
                  <div class="view-and-manage-owner-information">
                    View and manage owner information
                  </div>
                </div>
              </div>
            </div>
            <div class="depth-4-frame-13">
              <div class="depth-5-frame-04">
                <div class="depth-6-frame-03">
                  <img class="depth-7-frame-0" src="depth-7-frame-00.png" />
                  <div class="depth-7-frame-1">
                    <div class="depth-8-frame-0">
                      <div class="sarah-miller">Sarah Miller</div>
                    </div>
                    <div class="depth-8-frame-1">
                      <div class="owner-id-12345">Owner ID: 12345</div>
                    </div>
                    <div class="depth-8-frame-2">
                      <div
                        class="contact-555-123-4567-email-sarah-miller-email-com"
                      >
                        Contact: (555) 123-4567 | Email: sarah.miller-email.com
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="depth-4-frame-2">
              <div class="animal-list">Animal List</div>
            </div>
            <div class="depth-4-frame-3">
              <div class="depth-5-frame-05">
                <div class="depth-6-frame-04">
                  <div class="depth-7-frame-02">
                    <div class="depth-8-frame-02">
                      <div class="depth-9-frame-0">
                        <div class="photo">Photo</div>
                      </div>
                      <div class="depth-9-frame-1">
                        <div class="name">Name</div>
                      </div>
                      <div class="depth-9-frame-2">
                        <div class="species">Species</div>
                      </div>
                      <div class="depth-9-frame-3">
                        <div class="age">Age</div>
                      </div>
                      <div class="depth-9-frame-4">
                        <div class="last-visit-date">Last Visit Date</div>
                      </div>
                      <div class="depth-9-frame-5">
                        <div class="actions">Actions</div>
                      </div>
                    </div>
                  </div>
                  <div class="depth-7-frame-12">
                    <div class="depth-8-frame-03">
                      <div class="depth-9-frame-02">
                        <img
                          class="depth-10-frame-0"
                          src="depth-10-frame-00.png"
                        />
                      </div>
                      <div class="depth-9-frame-12">
                        <div class="buddy">Buddy</div>
                      </div>
                      <div class="depth-9-frame-22">
                        <div class="dog">Dog</div>
                      </div>
                      <div class="depth-9-frame-32">
                        <div class="_5-years">5 years</div>
                      </div>
                      <div class="depth-9-frame-42">
                        <div class="_2023-08-15">2023-08-15</div>
                      </div>
                      <div class="depth-9-frame-52">
                        <div class="edit-delete">Edit | Delete</div>
                      </div>
                    </div>
                    <div class="depth-8-frame-12">
                      <div class="depth-9-frame-02">
                        <img
                          class="depth-10-frame-0"
                          src="depth-10-frame-01.png"
                        />
                      </div>
                      <div class="depth-9-frame-12">
                        <div class="whiskers">Whiskers</div>
                      </div>
                      <div class="depth-9-frame-22">
                        <div class="cat">Cat</div>
                      </div>
                      <div class="depth-9-frame-32">
                        <div class="_3-years">3 years</div>
                      </div>
                      <div class="depth-9-frame-42">
                        <div class="_2023-09-01">2023-09-01</div>
                      </div>
                      <div class="depth-9-frame-52">
                        <div class="edit-delete">Edit | Delete</div>
                      </div>
                    </div>
                    <div class="depth-8-frame-22">
                      <div class="depth-9-frame-02">
                        <img
                          class="depth-10-frame-0"
                          src="depth-10-frame-02.png"
                        />
                      </div>
                      <div class="depth-9-frame-12">
                        <div class="chirpy">Chirpy</div>
                      </div>
                      <div class="depth-9-frame-22">
                        <div class="bird">Bird</div>
                      </div>
                      <div class="depth-9-frame-32">
                        <div class="_2-years">2 years</div>
                      </div>
                      <div class="depth-9-frame-42">
                        <div class="_2023-07-20">2023-07-20</div>
                      </div>
                      <div class="depth-9-frame-52">
                        <div class="edit-delete">Edit | Delete</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="depth-4-frame-4">
              <div class="depth-5-frame-06">
                <div class="depth-6-frame-05">
                  <div class="add-animal">Add Animal</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  