<div class="stitch-design">
    <div class="depth-0-frame-0">
      <div class="depth-1-frame-0">
        <div class="depth-2-frame-0">
          <div class="depth-3-frame-0">
            <div class="depth-4-frame-0">
              <div class="depth-5-frame-0">
                <img class="vector-0" src="vector-00.svg" />
                <div class="depth-6-frame-0"></div>
              </div>
            </div>
            <div class="depth-4-frame-1">
              <div class="pet-pal">PetPal</div>
            </div>
          </div>
          <div class="depth-3-frame-1">
            <div class="depth-4-frame-02">
              <div class="depth-5-frame-02">
                <div class="depth-6-frame-02">
                  <div class="depth-7-frame-0">
                    <img class="vector-02" src="vector-01.svg" />
                    <div class="depth-8-frame-0"></div>
                  </div>
                </div>
                <div class="depth-6-frame-1">
                  <div class="search">Search</div>
                </div>
              </div>
            </div>
            <div class="depth-4-frame-12">
              <div class="depth-5-frame-03">
                <div class="depth-6-frame-03">
                  <img class="vector-03" src="vector-02.svg" />
                  <div class="depth-7-frame-02"></div>
                </div>
              </div>
            </div>
            <img class="depth-4-frame-2" src="depth-4-frame-20.png" />
          </div>
        </div>
        <div class="depth-2-frame-1">
          <div class="depth-3-frame-02">
            <div class="depth-4-frame-03">
              <div class="depth-5-frame-04">
                <div class="owners">Owners</div>
              </div>
              <div class="depth-5-frame-1">
                <div class="depth-6-frame-04">
                  <div class="new-owner">+ New Owner</div>
                </div>
              </div>
            </div>
            <div class="depth-4-frame-13">
              <div class="depth-5-frame-05">
                <div class="depth-6-frame-05">
                  <div class="depth-7-frame-03">
                    <div class="depth-8-frame-02">
                      <img class="vector-04" src="vector-03.svg" />
                      <div class="depth-9-frame-0"></div>
                    </div>
                  </div>
                  <div class="depth-7-frame-1">
                    <div class="search-by-name-or-phone">
                      Search by name or phone
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="depth-4-frame-22">
              <div class="depth-5-frame-06">
                <div class="depth-6-frame-06">
                  <div class="depth-7-frame-04">
                    <div class="depth-8-frame-03">
                      <div class="depth-9-frame-02">
                        <div class="owner-name">Owner Name</div>
                      </div>
                      <div class="depth-9-frame-1">
                        <div class="phone">Phone</div>
                      </div>
                      <div class="depth-9-frame-2">
                        <div class="email">Email</div>
                      </div>
                      <div class="depth-9-frame-3">
                        <div class="number-of-animals">Number of Animals</div>
                      </div>
                    </div>
                  </div>
                  <div class="depth-7-frame-12">
                    <div class="depth-8-frame-04">
                      <div class="depth-9-frame-03">
                        <div class="sophia-carter">Sophia Carter</div>
                      </div>
                      <div class="depth-9-frame-12">
                        <div class="_555-123-4567">(555) 123-4567</div>
                      </div>
                      <div class="depth-9-frame-22">
                        <div class="sophia-carter-email-com">
                          sophia.carter-email.com
                        </div>
                      </div>
                      <div class="depth-9-frame-32">
                        <div class="_2">2</div>
                      </div>
                    </div>
                    <div class="depth-8-frame-1">
                      <div class="depth-9-frame-03">
                        <div class="ethan-bennett">Ethan Bennett</div>
                      </div>
                      <div class="depth-9-frame-12">
                        <div class="_555-987-6543">(555) 987-6543</div>
                      </div>
                      <div class="depth-9-frame-22">
                        <div class="ethan-bennett-email-com">
                          ethan.bennett-email.com
                        </div>
                      </div>
                      <div class="depth-9-frame-32">
                        <div class="_1">1</div>
                      </div>
                    </div>
                    <div class="depth-8-frame-2">
                      <div class="depth-9-frame-03">
                        <div class="olivia-hayes">Olivia Hayes</div>
                      </div>
                      <div class="depth-9-frame-12">
                        <div class="_555-246-8013">(555) 246-8013</div>
                      </div>
                      <div class="depth-9-frame-22">
                        <div class="olivia-hayes-email-com">
                          olivia.hayes-email.com
                        </div>
                      </div>
                      <div class="depth-9-frame-32">
                        <div class="_3">3</div>
                      </div>
                    </div>
                    <div class="depth-8-frame-3">
                      <div class="depth-9-frame-03">
                        <div class="liam-foster">Liam Foster</div>
                      </div>
                      <div class="depth-9-frame-12">
                        <div class="_555-369-1470">(555) 369-1470</div>
                      </div>
                      <div class="depth-9-frame-22">
                        <div class="liam-foster-email-com">
                          liam.foster-email.com
                        </div>
                      </div>
                      <div class="depth-9-frame-32">
                        <div class="_1">1</div>
                      </div>
                    </div>
                    <div class="depth-8-frame-4">
                      <div class="depth-9-frame-03">
                        <div class="ava-morgan">Ava Morgan</div>
                      </div>
                      <div class="depth-9-frame-12">
                        <div class="_555-789-0123">(555) 789-0123</div>
                      </div>
                      <div class="depth-9-frame-22">
                        <div class="ava-morgan-email-com">
                          ava.morgan-email.com
                        </div>
                      </div>
                      <div class="depth-9-frame-32">
                        <div class="_2">2</div>
                      </div>
                    </div>
                    <div class="depth-8-frame-5">
                      <div class="depth-9-frame-03">
                        <div class="noah-parker">Noah Parker</div>
                      </div>
                      <div class="depth-9-frame-12">
                        <div class="_555-456-7890">(555) 456-7890</div>
                      </div>
                      <div class="depth-9-frame-22">
                        <div class="noah-parker-email-com">
                          noah.parker-email.com
                        </div>
                      </div>
                      <div class="depth-9-frame-32">
                        <div class="_1">1</div>
                      </div>
                    </div>
                    <div class="depth-8-frame-6">
                      <div class="depth-9-frame-03">
                        <div class="isabella-reed">Isabella Reed</div>
                      </div>
                      <div class="depth-9-frame-12">
                        <div class="_555-654-3210">(555) 654-3210</div>
                      </div>
                      <div class="depth-9-frame-22">
                        <div class="isabella-reed-email-com">
                          isabella.reed-email.com
                        </div>
                      </div>
                      <div class="depth-9-frame-32">
                        <div class="_2">2</div>
                      </div>
                    </div>
                    <div class="depth-8-frame-7">
                      <div class="depth-9-frame-03">
                        <div class="jackson-cole">Jackson Cole</div>
                      </div>
                      <div class="depth-9-frame-12">
                        <div class="_555-111-2222">(555) 111-2222</div>
                      </div>
                      <div class="depth-9-frame-22">
                        <div class="jackson-cole-email-com">
                          jackson.cole-email.com
                        </div>
                      </div>
                      <div class="depth-9-frame-32">
                        <div class="_1">1</div>
                      </div>
                    </div>
                    <div class="depth-8-frame-8">
                      <div class="depth-9-frame-03">
                        <div class="mia-brooks">Mia Brooks</div>
                      </div>
                      <div class="depth-9-frame-12">
                        <div class="_555-333-4444">(555) 333-4444</div>
                      </div>
                      <div class="depth-9-frame-22">
                        <div class="mia-brooks-email-com">
                          mia.brooks-email.com
                        </div>
                      </div>
                      <div class="depth-9-frame-32">
                        <div class="_3">3</div>
                      </div>
                    </div>
                    <div class="depth-8-frame-9">
                      <div class="depth-9-frame-03">
                        <div class="aiden-gray">Aiden Gray</div>
                      </div>
                      <div class="depth-9-frame-12">
                        <div class="_555-555-6666">(555) 555-6666</div>
                      </div>
                      <div class="depth-9-frame-22">
                        <div class="aiden-gray-email-com">
                          aiden.gray-email.com
                        </div>
                      </div>
                      <div class="depth-9-frame-32">
                        <div class="_1">1</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  