<div class="page-wrapper">
    <div class="page-content">
      <div class="content-section">
        <div class="header-bar">
          <div class="layout-layer3-element0">
            <div class="layout-layer4-element0">
              <div class="layout-layer5-element0">
                <img class="vector-0" src="vector-00.svg" alt="User Management Icon" />
                <div class="layout-layer6-element0"></div>
              </div>
            </div>
            <div class="layout-layer4-element1">
              <div class="pet-pal">PetPal</div>
            </div>
          </div>
          <div class="layout-layer3-element1">
            <div class="layout-layer4-element02">
              <div class="layout-layer5-element02">
                <div class="dashboard">Dashboard</div>
              </div>
              <div class="layout-layer5-element1">
                <div class="appointments">Appointments</div>
              </div>
              <div class="layout-layer5-element2">
                <div class="clients">Clients</div>
              </div>
              <div class="layout-layer5-element3">
                <div class="patients">Patients</div>
              </div>
              <div class="layout-layer5-element4">
                <div class="staff">Staff</div>
              </div>
              <div class="layout-layer5-element5">
                <div class="settings">Settings</div>
              </div>
            </div>
            <img class="layout-layer4-element12" src="layout-layer4-element11.png" alt="User Avatar" />
          </div>
        </div>
        <div class="layout-layer2-element1">
          <div class="layout-layer3-element02">
            <div class="layout-layer4-element03">
              <div class="layout-layer5-element03">
                <div class="layout-layer6-element02">
                  <div class="user-details">User Details</div>
                </div>
                <div class="layout-layer6-element1">
                  <div class="manage-user-information-and-access-settings">
                    Manage user information and access settings.
                  </div>
                </div>
              </div>
            </div>
            <div class="layout-layer4-element13">
              <div class="layout-layer5-element04">
                <div class="layout-layer6-element03">
                  <div class="name">Name</div>
                </div>
                <div class="layout-layer6-element12"></div>
              </div>
            </div>
            <div class="layout-layer4-element2">
              <div class="layout-layer5-element04">
                <div class="layout-layer6-element03">
                  <div class="username">Username</div>
                </div>
                <div class="layout-layer6-element12"></div>
              </div>
            </div>
            <div class="layout-layer4-element3">
              <div class="layout-layer5-element04">
                <div class="layout-layer6-element03">
                  <div class="email">Email</div>
                </div>
                <div class="layout-layer6-element12"></div>
              </div>
            </div>
            <div class="layout-layer4-element4">
              <div class="layout-layer5-element04">
                <div class="layout-layer6-element03">
                  <div class="roles">Roles</div>
                </div>
                <img class="layout-layer6-element13" src="layout-layer6-element14.svg" alt="Roles Icon" />
              </div>
            </div>
            <div class="layout-layer4-element5">
              <div class="layout-layer5-element05">
                <div class="status">Status</div>
              </div>
              <div class="layout-layer5-element1">
                <div class="layout-layer6-element04">
                  <div class="layout-layer7-element0"></div>
                </div>
              </div>
            </div>
            <div class="layout-layer4-element6">
              <div class="layout-layer5-element06">
                <div class="layout-layer6-element05">
                  <div class="reset-password">Reset Password</div>
                </div>
              </div>
            </div>
            <div class="layout-layer4-element7">
              <div class="layout-layer5-element07">
                <div class="layout-layer6-element06">
                  <div class="layout-layer7-element02">
                    <div class="cancel">Cancel</div>
                  </div>
                </div>
                <div class="layout-layer6-element14">
                  <div class="layout-layer7-element02">
                    <div class="save">Save</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  